doctype
html(lang='en')
    head
        meta(charset='utf-8')
        meta( http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Senchou's First Mate
        link(rel="stylesheet", href="/css/style.css", type="text/css")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC", crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js", integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM", crossorigin="anonymous") 
    body.body
        nav(class="navbar fixed-top navbar-expand-lg navbar-light bg-light")
            div( class="container collapse navbar-collapse", id="navbarText")
                span( class="navbar-brand mb-0") 
                    b Senchou's First Mate
                if username
                    span(class="nav-item mr-auto") Logged In As: #{username}
                ul(class="nav navbar-nav navbar-right")
                    each val, key in {"Home": "/", "About": "/about"} 
                        li(class="nav-item"): a(href=val class="nav-link")= key
                    if !username
                        li(class="nav-item"): a(href="/log-in" class="nav-link")="Log In"
                    else
                        li(class="nav-item"): a(href="/logout" class="nav-link")="Log Out"
        div.container#container.mb-5
            block content 