extend ./_header.pug
block content
    div
        div.p-5.bg-light.rounded
            h1 About 
            p Ahoy~! There Mates.#[br]
            |We at Senchou is an event planner for all users that are interested in our upcoming aquatic events and tours. This helps in user to discover your ocean home has in store as well as to showcase nature’s beautiful underwater landscapes along with their creatures habiting the waters. Senchou sends out various event such as scuba diving, boat riding, whale watching, fishing, surfing, and many more. Senchou aims to provide the users a once in a life time activities and to fuel in those who are adventurous and to those who are the thrill seekers around the world. Senchou wanted also to spread awareness in preserving the waters and saving the creatures that lives in it. Giving a wondrous adventure while spreading the acts of saving the ocean as it is part of our home.