extends ./_header.pug
block content
    div
        img(src="/img/264366161_3097685330551293_9094083963669260864_n.png", alt="banner", class="mx-auto d-block img-fluid")
    div.p-5.bg-light
        h1 Welcome to the Senchou's First Mate#{username == null ? "" : ", " + username}
        p Here we deliver to you the most exciting marine events experience that you can join in within the country. #[br]
        | Not only do we deliver events to you, but we also help manage them for you, by signing up to our membership for FREE

        if username
            div.mt-5
            h1 Events
            table.table.table-dark.rounded
                thread 
                    tr.table-dark 
                    for val in ["Event", "Type", "Participants"]
                        th(scope="col").text-center=val
                    - var option ="Option"
                    if admin 
                        - option = "Remove"
                    th(scope="col").text-center=option
                tbody.table-primary
                    if events
                        for event in events
                            tr
                                for value in [event.event_name,event.event_type,event.participants]
                                    td.text-center!= value
                                if admin
                                    -var remove = "remove-event/" + event.event_id
                                    td.text-center: a(href=remove): button.btn.btn-sm.btn-danger(type=button) Remove
                                else 
                                    - var participate = "join-event/" + event.event_id
                                    if alreadyJoined != null && alreadyJoined != ""
                                        for joinedEvent in alreadyJoined 
                                            if  joinedEvent.event_id == event.event_id
                                                - participate = "cancel-event/" + event.event_id
                                                td.text-center: a(href=participate): button.btn.btn-sm.btn-danger(type=button) Cancel
                                            else 
                                                td.text-center: a(href=participate): button.btn.btn-sm.btn-success(type=button) Join
                                    else 
                                        td.text-center: a(href=participate): button.btn.btn-sm.btn-success(type=button) Join
            if admin
                form.row(action="add-event", method="post", id="login-form")
                        .col-sm-4
                            input#inputEvent.form-control-sm.mt-1.form-control(type='Event' name="eventName" placeholder='Event Name')
                        .col-sm-4
                            input#eventType.form-control-sm.mt-1.form-control(type='eventType' name="eventType" placeholder='Event Type')
                        .col-sm-2
                            input#Participants.form-control-sm.mt-1.form-control(type='int' name="participants" placeholder='Participants')
                        .col-sm-2.form-control-sm
                            button.btn.btn-sm.btn-primary(type="submit") Add Event
                if alertMessage
                    div(class="alert alert-dismissible fade show " + alertMessage.type role="alert")!= alertMessage.message
                        button(type="button", class="btn-close", data-bs-dismiss="alert", aria-label="Close")   