extends ./_header.pug
block content
    div.text-center.pt-5.container
        h1.text-light Login 
        form(action="login", method="post", id="login-form")
            div(class="row mb-3 justify-content-center")
                label(for="username", class="col-sm-1 col-form-label text-light") Username
                .col-md-5
                    input(type="text", id="username", name="username", class="col-md-5 form-control", placeholder="Username", aria-label="Username", aria-describedby="basic-addon1")
            div(class="row mb-3 justify-content-center")  
                label(for="password", class="col-sm-1 col-form-label text-light") Password  
                .col-md-5 
                    input(type="password", id="password", name="password", class="col-sm-5 form-control", placeholder="Password", aria-label="Password", aria-describedby="basic-addon1")
            div(class="justify-content-center")
                button(class="btn btn-primary" type="submit") Log In
    if alertMessage
        div(class="alert alert-dismissible fade show " + alertMessage.type role="alert")!= alertMessage.message
            button(type="button", class="btn-close", data-bs-dismiss="alert", aria-label="Close")