.mr-auto{
   margin-right: auto!important;
}

body{
   height: 100%;
   position: relative;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-image: linear-gradient( -29.5deg, #d7bc77, #665d4c, #233142, #233142);
   padding-top: 70px;
}

.form-group{
   margin-bottom: 1rem;
}

nav{
   box-shadow: 0px 0px 16px 10px rgba(0,0,0,0.3);
}

.alert{
   z-index: 10;
}